<div class="main1">
	<div class="page-ttl">
		<h2 class="page-ttl__search">検索結果</h2>
	</div>
	<!--検索・並び替え窓-->
	<%= render 'search/search_form' %>

</div>

<!--検索結果表示-->
<div class="main2">
	<% if @model_select == "word" %>
		<h2 class="main2__ttl-word">Word</h2>
		<%= render 'words/word_index', words: @words %>

	<% elsif @model_select == "memo" %>
		<h2 class="main2__ttl-memo">Memo</h2>
		<%= render 'memos/memo_index', memos: @memos %>

	<% elsif @model_select == "tag" %>
		<h2 class="main2__ttl-word">Word</h2>
		<%= render 'words/word_index', words: @tag.words %>

		<h2 class="main2__ttl-memo">Memo</h2>
		<%= render 'memos/memo_index', memos: @tag.memos %>

	<% end %>

</div>
