<div class="main1">
	<!--タイトル-->
	<div class="page-ttl">
		<h2>編集ページ</h2>
	</div>

	<!--会員情報-->
	<div class="mypage col-md-8">
		<%= form_with model: @uesr, url: update_mypage_path(@user), local: true, method: :patch do |f| %>
			<table class="table">
				<tr>
					<td>登録名</td>
					<td><%= f.text_field :name, id: "name" %></td>
				</tr>
				<tr>
					<td>登録したメールアドレス</td>
					<td><%= f.text_field :email, autocomplete: "email" %></td>
				</tr>
			</table>
			<div class="mypage-edit-btn">
				<div class="mypage-edit-btn__back">
					<%= link_to 'マイページへ戻る', mypage_path, class: 'btn btn-success' %>
					<%= f.submit '編集内容を保存する', class: "btn btn-danger" %>
				</div>
				<div class="mypage-edit-btn__edit">
				</div>
			</div>
		<% end %>
	</div>
</div>
