<div class="main-flash">
	<% if flash[:notice] %>
    	<div class="alert alert-warning main-flash__text">
    		<%= flash[:notice] %>
    	</div>
	<% end %>
</div>

<div class="main-top">

	<!--タイトル-->
	<div class="page-ttl">
		<h2 class="page-ttl__mypage">マイページ</h2>
	</div>

	<!--検索・並び替え窓-->
	<%= render 'search/search_form' %>

</div>

<div class="main-bottom-mypage">
	<div class="mypage">

		<!--word一覧-->
		<div class="mypage__tags">
			<div class="tags">
				<div class="tags__ttl">
				  <p>登録したタグ</p>
				</div>
				<div class="tags__idx">
				  <div class="tag">
					<% @tags.each do |tag| %>
					  <div class="tag__content">
					    <li><%= tag.hashname %></li>
					  </div>
					<% end %>
				  </div>
				</div>
			</div>
		</div>

		<div class="mypage__table">

			<div class="user-info">

				<!--会員情報-->
				<div class="user-info__info">
					<p>ユーザー登録情報</p>
					<table class="table">
						<tr>
							<th>登録名</th>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<th>登録したメールアドレス</th>
							<td><%= @user.email %></td>
						</tr>
					</table>
				</div>

				<!--編集ボタン-->
				<% if @user.name != "テストユーザー" %>
					<div class="user-info__btn">
						<%= link_to '登録情報編集', edit_mypage_path, class: "btn btn-success" %>
					</div>
				<% end %>
			</div>
		</div>

				<!--登録した単語・メモ数集計-->
		<div class="mypage__sum">
			<div class="histroy">
				<div class="history__text">
					<p>これまでの軌跡</p>
					<table class="table table-stripedx">
						<tr>
							<th>登録した単語数</th>
							<td><%= @user.words.count %></td>
						</tr>
						<tr>
							<th>登録したメモ数</th>
							<td><%= @user.memos.count %></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="links">
				<%= link_to "単語登録へ", words_path, class: "btn btn-success links-btn" %>
				<%= link_to 'メモ登録へ', memos_path, class: "btn btn-warning links-btn" %>
				</div>
			</div>

		</div>


	</div>
</div>
