<div class="main-flash">
	<% if flash[:notice] %>
    	<div class="alert alert-success main-flash__text">
    		<%= flash[:notice] %>
    	</div>
	<% end %>
</div>

<div class="main1">

	<!--タイトル-->
	<div class="page-ttl">
		<h2 class="page-ttl__mypage">マイページ</h2>
	</div>

	<!--検索・並び替え窓-->
	<%= render 'search/search_form' %>

</div>

<div class="main3">
	<div class="mypage">

		<!--word一覧-->
		<div class="mypage__tags">
			<div class="tags__ttl">
			  <p>登録したタグ一覧</p>
			</div>
			<div class="tags__idx">
			  <div class="tag">
				<% @tags.each do |tag| %>
				  <div class="tag__content">
				    <span><%= tag.hashname %></span>
				  </div>
				<% end %>
			  </div>
			</div>
		</div>

		<div class="mypage__table">

			<div class="user-info">

				<!--会員情報-->
				<div class="user-info__info">
					<p>ユーザー登録情報</p>
					<table class="table table-striped">
						<tr>
							<th>登録名</th>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<th>登録したメールアドレス</th>
							<td><%= @user.email %></td>
						</tr>
					</table>
				</div>

				<!--編集ボタン-->
				<div class="user-info__btn">
					<%= link_to '登録情報編集', edit_mypage_path, class: "btn btn-success" %>
				</div>
			</div>
		</div>

				<!--登録した単語・メモ数集計-->
		<div class="mypage__sum">
			<p>これまでの軌跡</p>
					<table class="table table-stripedx">
						<tr>
							<th>登録した単語数</th>
							<td><%= @user.words.count %></td>
						</tr>
						<tr>
							<th>登録したメモ数</th>
							<td><%= @user.memos.count %></td>
						</tr>
					</table>
		</div>


	</div>
</div>
