<div class="main1">

	<% if flash[:notice] %>
    		<div class="flash">
    			<%= flash[:notice] %>
    		</div>
	<% end %>
	<!--タイトル-->
	<div class="page-ttl">
		<h2 class="page-ttl__word">words</h2>
	</div>
	<!--word投稿ボタン-->
	<div class="new-btn">
		<div class="new-btn__circle" data-toggle="modal" data-target="#sampleModal">
			<a class="glyphicon glyphicon-pencil new-btn__icon"></a>
		</div>
	</div>
	<!--word投稿フォーム-->
	<div class="new-leaf modal fade" id="sampleModal">
		<div class="new-leaf__form modal-dialog">
			<div class="modal-content">
			<%= form_with(model: Word.new, local: true, url:words_path, method: :post) do |form| %>
				<p>新しい単語カード</p>
				<%= form.text_field :name, cols: "75", rows: "1" %></br>
				<%= form.text_area :body, cols: "75", rows: "4" %></br>
				<p>単語カードの色</p>
				<label><%= form.radio_button :color, :green, checked: true %>green</label>
				<label><%= form.radio_button :color, :red %>red</label>
				<label><%= form.radio_button :color, :blue %>blue</label>
				<label><%= form.radio_button :color, :yellow %>yellow</label>
				<label><%= form.radio_button :color, :gray %>gray</label></br>
				<label>pickup</label><%= form.check_box :pickup %></br>
				<%= form.submit '単語カード作成', class: "btn btn-success" %>
			<% end %>
			</div>
		</div>
	</div>

	<!--検索・並び替え窓-->
	<%= render 'search/search_form' %>

</div>

<div class="main2">
	<!--word一覧-->
	<%= render 'words/word_index', words: @words %>

	<div class="page-bar">
		<%= paginate @words %>
	</div>

</div>