<div class="main1">
	<!--タイトル-->
	<div class="page-ttl">
		<h2>words</h2>
	</div>
	<!--word投稿ボタン-->
	<div class="new-btn">
		<div class="new-btn__circle" data-toggle="modal" data-target="#sampleModal">
			<a class="glyphicon glyphicon-pencil new-btn__icon"></a>
		</div>
	</div>
	<!--word投稿フォーム-->
	<div class="new-leaf modal fade" id="sampleModal">
		<div class="new-leaf__form modal-dialog">
			<div class="modal-content">
			<%= form_with(model: @word, local: true, url:words_path, method: :post) do |form| %>
				<p>新しい単語カード</p>
				<%= form.text_field :name, cols: "75", rows: "1" %></br>
				<%= form.text_area :body, cols: "75", rows: "4" %></br>
				<p>単語カードの色</p>
				<label><%= form.radio_button :color, :green, checked: true %>green</label>
				<label><%= form.radio_button :color, :red %>red</label>
				<label><%= form.radio_button :color, :blue %>blue</label>
				<label><%= form.radio_button :color, :yellow %>yellow</label>
				<label><%= form.radio_button :color, :orange %>orange</label></br>
				<%= form.submit '単語カード作成', class: "btn btn-success" %>
			<% end %>
			</div>
		</div>
	</div>
	<!--検索・並び替え窓-->
	<div class="discovery">
		<div class="discovery__search">
			<%= form_tag(search_path, method: :get) do %>
				<%= select_tag(:option, options_for_select([["word","1"],["memo","2"],["tag","3"]])) %>
				<%= text_field_tag :search %>
				<%= submit_tag '検索' %>
			<% end %>
		</div>
		<div class="discovery__sort">
			<%= form_tag(search_path, method: :get) do %>
				<%= select_tag(:choice, options_for_select([["投稿が新しい順", "1"],["投稿が古い順", "2"], ["pickup","3"]])) %>
				<%= submit_tag '並び替え' %>
			<% end %>
		</div>
	</div>
	<!--word一覧-->
	<div class="leaves">
		<% @words.each do |word| %>
			<div class="words">
				<div class="words__edit">
					<%= link_to edit_word_path(word), method: :get do %>
						<span class="glyphicon glyphicon-edit" aria-hidden="true" style="color: white;"></span>
					<% end %>
				</div>
				<div class="words__destroy">
					<%= link_to word_path(word), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
						<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: white;" ></span>
					<% end %>
				</div>
				<div class="words__content">
					<div class="word-text">
						<div class="word-text__ttl">
							<%= word.name %>
						</div>
						<div class="word-text__body">
							<%= word.body %>
						</div>
					</div>
				</div>
			</div>

		<% end %>
	</div>

</div>