<!DOCTYPE html>
<html>
  <head>
    <title>MemoTREE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/36666c5f50.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/header2" %>
    <% else %>
      <%= render "layouts/header1" %>
    <% end %>
    <%= yield %>
  </body>
</html>
