<!DOCTYPE html>
<html>
  <head>
    <title>MemoTREE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/header2" %>
    <% else %>
      <%= render "layouts/header1" %>
    <% end %>
    <%= yield %>
  </body>
</html>
